<a href="https://colab.research.google.com/github/HuynhTriHenry/Robotic/blob/main/Huynh_Trong_Tri_BT1AI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
value1 = input('nhập vào số thứ 1 :')
value2= input('nhập vào số thứ 2 :')

nhập vào số thứ 1 :1
nhập vào số thứ 2 :2

In [2]:
print(value1)

1

In [3]:
value1=int('nhập vào số thứ 1')

ValueError: ignored

In [5]:
with open ('test.txt',mode="w") as accounts:
    accounts.write('20146209 Huỳnh Trọng Trí 10\n')
    accounts.write('20146209 Huỳnh Trọng Trí 8\n')
    accounts.write('20146209 Huỳnh Trọng Trí 6\n')

In [8]:
with open ('test1.txt',mode="w") as accounts:
  print('20146209 Huỳnh Trọng Trí', file = accounts)

In [9]:
with open('test.txt',mode='r') as accuonts:
  print(f"{'MSSV':<10}{'name':<20}{'Score':>2}")
  for record in accounts:
    mssv, name, socre = record.split()
    print(f"{'MSSV':<10}{'name':<20}{'Score':>2}")

MSSV      name                Score

ValueError: ignored

In [11]:
import pandas as pd
url = 'Danhsach.csv'
dataframe = pd.read_csv(url)
dataframe.head(21)

    STT      MSSV          Họ và tên  Khoa   Điểm
0     1  20146209     Huỳnh Trọng Trí   CKM    10
1     2  20146210        Thái Trọng A   CKM     7
2     3  20146211        Trần Trọng B   CKD     8
3     4  20146212      Nguyễn Trọng C   CKD     9
4     5  20146213        Phan Trọng D   CKM    10
5     6  20146214          Võ Trọng E   CKD     4
6     7  20146215       Huỳnh Trọng F   CKM     8
7     8  20146216       Huỳnh Trọng G   CKD     6
8     9  20146217       Huỳnh Trọng H   CKM     5
9    10  19146209   Huỳnh Trọng Cường   CKD     9
10   11  18146209   Huỳnh Trọng Chính   CKM     9
11   12  17146209   Huỳnh Trọng Thắng   CKM     8
12   13  16146209  Huỳnh Trọng Chương   CKM     4
13   14  15146209   Huỳnh Trọng Khanh   CKM     5
14   15  14146209    Huỳnh Trọng Phúc   CKM     2
15   16  13146209    Huỳnh Trọng Ngọc   CKD     7
16   17  12146209   Huỳnh Trọng Quyên   CKD     9
17   18  11146209     Huỳnh Trọng Đạt   CKD    10
18   19  10146209     Huỳnh Trọng Phi   CKM     4
19   20  21146209   Huỳnh Trọng Nghĩa   CKM     8

In [12]:
dataframe.iloc[2]

STT                      3
MSSV              20146211
Họ và tên     Trần Trọng B
Khoa                   CKD
Điểm                     8
Name: 2, dtype: object

In [13]:
dataframe.iloc[0:10]

   STT      MSSV         Họ và tên  Khoa   Điểm
0    1  20146209    Huỳnh Trọng Trí   CKM    10
1    2  20146210       Thái Trọng A   CKM     7
2    3  20146211       Trần Trọng B   CKD     8
3    4  20146212     Nguyễn Trọng C   CKD     9
4    5  20146213       Phan Trọng D   CKM    10
5    6  20146214         Võ Trọng E   CKD     4
6    7  20146215      Huỳnh Trọng F   CKM     8
7    8  20146216      Huỳnh Trọng G   CKD     6
8    9  20146217      Huỳnh Trọng H   CKM     5
9   10  19146209  Huỳnh Trọng Cường   CKD     9

In [14]:
dataframe.iloc[:10]

   STT      MSSV         Họ và tên  Khoa   Điểm
0    1  20146209    Huỳnh Trọng Trí   CKM    10
1    2  20146210       Thái Trọng A   CKM     7
2    3  20146211       Trần Trọng B   CKD     8
3    4  20146212     Nguyễn Trọng C   CKD     9
4    5  20146213       Phan Trọng D   CKM    10
5    6  20146214         Võ Trọng E   CKD     4
6    7  20146215      Huỳnh Trọng F   CKM     8
7    8  20146216      Huỳnh Trọng G   CKD     6
8    9  20146217      Huỳnh Trọng H   CKM     5
9   10  19146209  Huỳnh Trọng Cường   CKD     9

In [15]:
dataframe = dataframe.set_index(dataframe['Họ và tên '])
dataframe.loc['Huỳnh Trọng Trí']

STT                         1
MSSV                 20146209
Họ và tên     Huỳnh Trọng Trí
Khoa                      CKM
Điểm                       10
Name: Huỳnh Trọng Trí, dtype: object

In [16]:
dataframe[dataframe['Họ và tên ']=='Huỳnh Trọng leuleu'].head(10)

Empty DataFrame
Columns: [STT, MSSV, Họ và tên , Khoa , Điểm]
Index: []

In [17]:
dataframe[dataframe['Họ và tên ']=='Huỳnh Trọng'].head(10)

Empty DataFrame
Columns: [STT, MSSV, Họ và tên , Khoa , Điểm]
Index: []

In [18]:
dataframe[dataframe['Điểm']=='8'].head(10)

Empty DataFrame
Columns: [STT, MSSV, Họ và tên , Khoa , Điểm]
Index: []

In [19]:
dataframe[dataframe['Khoa ']=='CKM'].head(10)

                    STT      MSSV          Họ và tên  Khoa   Điểm
Họ và tên
Huỳnh Trọng Trí       1  20146209     Huỳnh Trọng Trí   CKM    10
Thái Trọng A          2  20146210        Thái Trọng A   CKM     7
Phan Trọng D          5  20146213        Phan Trọng D   CKM    10
Huỳnh Trọng F         7  20146215       Huỳnh Trọng F   CKM     8
Huỳnh Trọng H         9  20146217       Huỳnh Trọng H   CKM     5
Huỳnh Trọng Chính    11  18146209   Huỳnh Trọng Chính   CKM     9
Huỳnh Trọng Thắng    12  17146209   Huỳnh Trọng Thắng   CKM     8
Huỳnh Trọng Chương   13  16146209  Huỳnh Trọng Chương   CKM     4
Huỳnh Trọng Khanh    14  15146209   Huỳnh Trọng Khanh   CKM     5
Huỳnh Trọng Phúc     15  14146209    Huỳnh Trọng Phúc   CKM     2

In [20]:
dataframe[dataframe['MSSV']=='2014'].head(10)

Empty DataFrame
Columns: [STT, MSSV, Họ và tên , Khoa , Điểm]
Index: []

In [21]:
dataframe[dataframe['Khoa ']=='CKM'].head(10)

                    STT      MSSV          Họ và tên  Khoa   Điểm
Họ và tên
Huỳnh Trọng Trí       1  20146209     Huỳnh Trọng Trí   CKM    10
Thái Trọng A          2  20146210        Thái Trọng A   CKM     7
Phan Trọng D          5  20146213        Phan Trọng D   CKM    10
Huỳnh Trọng F         7  20146215       Huỳnh Trọng F   CKM     8
Huỳnh Trọng H         9  20146217       Huỳnh Trọng H   CKM     5
Huỳnh Trọng Chính    11  18146209   Huỳnh Trọng Chính   CKM     9
Huỳnh Trọng Thắng    12  17146209   Huỳnh Trọng Thắng   CKM     8
Huỳnh Trọng Chương   13  16146209  Huỳnh Trọng Chương   CKM     4
Huỳnh Trọng Khanh    14  15146209   Huỳnh Trọng Khanh   CKM     5
Huỳnh Trọng Phúc     15  14146209    Huỳnh Trọng Phúc   CKM     2

In [22]:
dataframe[(dataframe['Khoa ']=='CKM')&(dataframe['Họ và tên ']=='Huỳnh Trọng Trí')].head(10)

                 STT      MSSV       Họ và tên  Khoa   Điểm
Họ và tên
Huỳnh Trọng Trí    1  20146209  Huỳnh Trọng Trí   CKM    10

In [23]:
dataframe['Khoa '].replace('CKM','Cơ khí máy').head(10)

Họ và tên
Huỳnh Trọng Trí      Cơ khí máy
Thái Trọng A         Cơ khí máy
Trần Trọng B                CKD
Nguyễn Trọng C              CKD
Phan Trọng D         Cơ khí máy
Võ Trọng E                  CKD
Huỳnh Trọng F        Cơ khí máy
Huỳnh Trọng G               CKD
Huỳnh Trọng H        Cơ khí máy
Huỳnh Trọng Cường           CKD
Name: Khoa , dtype: object

In [24]:
dataframe.replace('CKM','Cơ khí máy').head(10)

                   STT      MSSV         Họ và tên        Khoa   Điểm
Họ và tên
Huỳnh Trọng Trí      1  20146209    Huỳnh Trọng Trí  Cơ khí máy    10
Thái Trọng A         2  20146210       Thái Trọng A  Cơ khí máy     7
Trần Trọng B         3  20146211       Trần Trọng B         CKD     8
Nguyễn Trọng C       4  20146212     Nguyễn Trọng C         CKD     9
Phan Trọng D         5  20146213       Phan Trọng D  Cơ khí máy    10
Võ Trọng E           6  20146214         Võ Trọng E         CKD     4
Huỳnh Trọng F        7  20146215      Huỳnh Trọng F  Cơ khí máy     8
Huỳnh Trọng G        8  20146216      Huỳnh Trọng G         CKD     6
Huỳnh Trọng H        9  20146217      Huỳnh Trọng H  Cơ khí máy     5
Huỳnh Trọng Cường   10  19146209  Huỳnh Trọng Cường         CKD     9

In [25]:
print('điểm cao nhất',dataframe['Điểm'].max())

điểm cao nhất 10

In [26]:
print('điểm cao nhất',dataframe['Điểm'].min())

điểm cao nhất 2

In [27]:
print('điểm cao nhất',dataframe['Điểm'].mean())

điểm cao nhất 7.1

In [28]:
print('điểm cao nhất',dataframe['Điểm'].sum())

điểm cao nhất 142

In [29]:
print('điểm cao nhất',dataframe['Điểm'].count())

điểm cao nhất 20

In [30]:
dataframe['Khoa '].unique()

array(['CKM', 'CKD'], dtype=object)

In [32]:
dataframe['Khoa '].value_counts()

CKM    12
CKD     8
Name: Khoa , dtype: int64

In [33]:
dataframe.drop('MSSV',axis=1)

                    STT          Họ và tên  Khoa   Điểm
Họ và tên
Huỳnh Trọng Trí       1     Huỳnh Trọng Trí   CKM    10
Thái Trọng A          2        Thái Trọng A   CKM     7
Trần Trọng B          3        Trần Trọng B   CKD     8
Nguyễn Trọng C        4      Nguyễn Trọng C   CKD     9
Phan Trọng D          5        Phan Trọng D   CKM    10
Võ Trọng E            6          Võ Trọng E   CKD     4
Huỳnh Trọng F         7       Huỳnh Trọng F   CKM     8
Huỳnh Trọng G         8       Huỳnh Trọng G   CKD     6
Huỳnh Trọng H         9       Huỳnh Trọng H   CKM     5
Huỳnh Trọng Cường    10   Huỳnh Trọng Cường   CKD     9
Huỳnh Trọng Chính    11   Huỳnh Trọng Chính   CKM     9
Huỳnh Trọng Thắng    12   Huỳnh Trọng Thắng   CKM     8
Huỳnh Trọng Chương   13  Huỳnh Trọng Chương   CKM     4
Huỳnh Trọng Khanh    14   Huỳnh Trọng Khanh   CKM     5
Huỳnh Trọng Phúc     15    Huỳnh Trọng Phúc   CKM     2
Huỳnh Trọng Ngọc     16    Huỳnh Trọng Ngọc   CKD     7
Huỳnh Trọng Quyên    17   Huỳnh Trọng Quyên   CKD     9
Huỳnh Trọng Đạt      18     Huỳnh Trọng Đạt   CKD    10
Huỳnh Trọng Phi      19     Huỳnh Trọng Phi   CKM     4
Huỳnh Trọng Nghĩa    20   Huỳnh Trọng Nghĩa   CKM     8

In [34]:
dataframe.drop(['Khoa ','STT'],axis=1).head(10)

                       MSSV         Họ và tên   Điểm
Họ và tên
Huỳnh Trọng Trí    20146209    Huỳnh Trọng Trí    10
Thái Trọng A       20146210       Thái Trọng A     7
Trần Trọng B       20146211       Trần Trọng B     8
Nguyễn Trọng C     20146212     Nguyễn Trọng C     9
Phan Trọng D       20146213       Phan Trọng D    10
Võ Trọng E         20146214         Võ Trọng E     4
Huỳnh Trọng F      20146215      Huỳnh Trọng F     8
Huỳnh Trọng G      20146216      Huỳnh Trọng G     6
Huỳnh Trọng H      20146217      Huỳnh Trọng H     5
Huỳnh Trọng Cường  19146209  Huỳnh Trọng Cường     9

In [35]:
dataframe.drop(dataframe.columns[2:4],axis=1).head(10)

                   STT      MSSV  Điểm
Họ và tên
Huỳnh Trọng Trí      1  20146209    10
Thái Trọng A         2  20146210     7
Trần Trọng B         3  20146211     8
Nguyễn Trọng C       4  20146212     9
Phan Trọng D         5  20146213    10
Võ Trọng E           6  20146214     4
Huỳnh Trọng F        7  20146215     8
Huỳnh Trọng G        8  20146216     6
Huỳnh Trọng H        9  20146217     5
Huỳnh Trọng Cường   10  19146209     9

In [36]:
dataframe[dataframe['Khoa ']!='CKM'].head(10)

                   STT      MSSV         Họ và tên  Khoa   Điểm
Họ và tên
Trần Trọng B         3  20146211       Trần Trọng B   CKD     8
Nguyễn Trọng C       4  20146212     Nguyễn Trọng C   CKD     9
Võ Trọng E           6  20146214         Võ Trọng E   CKD     4
Huỳnh Trọng G        8  20146216      Huỳnh Trọng G   CKD     6
Huỳnh Trọng Cường   10  19146209  Huỳnh Trọng Cường   CKD     9
Huỳnh Trọng Ngọc    16  13146209   Huỳnh Trọng Ngọc   CKD     7
Huỳnh Trọng Quyên   17  12146209  Huỳnh Trọng Quyên   CKD     9
Huỳnh Trọng Đạt     18  11146209    Huỳnh Trọng Đạt   CKD    10

In [37]:
dataframe[dataframe['Điểm']!=8].head(10)

                    STT      MSSV          Họ và tên  Khoa   Điểm
Họ và tên
Huỳnh Trọng Trí       1  20146209     Huỳnh Trọng Trí   CKM    10
Thái Trọng A          2  20146210        Thái Trọng A   CKM     7
Nguyễn Trọng C        4  20146212      Nguyễn Trọng C   CKD     9
Phan Trọng D          5  20146213        Phan Trọng D   CKM    10
Võ Trọng E            6  20146214          Võ Trọng E   CKD     4
Huỳnh Trọng G         8  20146216       Huỳnh Trọng G   CKD     6
Huỳnh Trọng H         9  20146217       Huỳnh Trọng H   CKM     5
Huỳnh Trọng Cường    10  19146209   Huỳnh Trọng Cường   CKD     9
Huỳnh Trọng Chính    11  18146209   Huỳnh Trọng Chính   CKM     9
Huỳnh Trọng Chương   13  16146209  Huỳnh Trọng Chương   CKM     4

In [38]:
dataframe[dataframe.index!=4].head(10)

                   STT      MSSV         Họ và tên  Khoa   Điểm
Họ và tên
Huỳnh Trọng Trí      1  20146209    Huỳnh Trọng Trí   CKM    10
Thái Trọng A         2  20146210       Thái Trọng A   CKM     7
Trần Trọng B         3  20146211       Trần Trọng B   CKD     8
Nguyễn Trọng C       4  20146212     Nguyễn Trọng C   CKD     9
Phan Trọng D         5  20146213       Phan Trọng D   CKM    10
Võ Trọng E           6  20146214         Võ Trọng E   CKD     4
Huỳnh Trọng F        7  20146215      Huỳnh Trọng F   CKM     8
Huỳnh Trọng G        8  20146216      Huỳnh Trọng G   CKD     6
Huỳnh Trọng H        9  20146217      Huỳnh Trọng H   CKM     5
Huỳnh Trọng Cường   10  19146209  Huỳnh Trọng Cường   CKD     9

In [39]:
dataframe.drop_duplicates().head(10)

                   STT      MSSV         Họ và tên  Khoa   Điểm
Họ và tên
Huỳnh Trọng Trí      1  20146209    Huỳnh Trọng Trí   CKM    10
Thái Trọng A         2  20146210       Thái Trọng A   CKM     7
Trần Trọng B         3  20146211       Trần Trọng B   CKD     8
Nguyễn Trọng C       4  20146212     Nguyễn Trọng C   CKD     9
Phan Trọng D         5  20146213       Phan Trọng D   CKM    10
Võ Trọng E           6  20146214         Võ Trọng E   CKD     4
Huỳnh Trọng F        7  20146215      Huỳnh Trọng F   CKM     8
Huỳnh Trọng G        8  20146216      Huỳnh Trọng G   CKD     6
Huỳnh Trọng H        9  20146217      Huỳnh Trọng H   CKM     5
Huỳnh Trọng Cường   10  19146209  Huỳnh Trọng Cường   CKD     9

In [41]:
dataframe.groupby('Khoa ').count()

       STT  MSSV  Họ và tên   Điểm
Khoa
CKD      8     8           8     8
CKM     12    12          12    12

In [42]:
dataframe.groupby(['Khoa ','Điểm']).count()

            STT  MSSV  Họ và tên
Khoa  Điểm
CKD   4       1     1           1
      6       1     1           1
      7       1     1           1
      8       1     1           1
      9       3     3           3
      10      1     1           1
CKM   2       1     1           1
      4       2     2           2
      5       2     2           2
      7       1     1           1
      8       3     3           3
      9       1     1           1
      10      2     2           2

In [43]:
dataframe.groupby('Khoa ')['Điểm'].count()

Khoa
CKD     8
CKM    12
Name: Điểm, dtype: int64

In [47]:
from pandas._libs.tslibs import period
import pandas as pd
import numpy as np
time_index= pd.date_range('01/01/2023',periods=100000,freq='30s')
dataframe = pd.DataFrame(index=time_index)
dataframe['Acess_Amuont']=np.random.randint(1,10,100000)
dataframe.resample('W').sum()

            Acess_Amuont
2023-01-01         14537
2023-01-08        100835
2023-01-15        101165
2023-01-22        101198
2023-01-29        100975
2023-02-05         82151

In [48]:
dataframe.resample('2W').mean()

            Acess_Amuont
2023-01-01      5.047569
2023-01-15      5.009921
2023-01-29      5.014211
2023-02-12      4.984891

In [51]:
import pandas as pd
url = 'http://Winterolympicsmedals.com/medals.csv'
data= pd.read_csv(url)
data
# tìm số lượng huy chương bất kỳ của can
# tìm số huy chương vàng theo môn thi

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [76]:
import pandas as pd
url = 'http://Winterolympicsmedals.com/medals.csv'
data= pd.read_csv(url)
datas=data[(data['NOC'] =='CAN')]
print("Số huy chương của CAN:",datas['Medal'].count())

Số huy chương của CAN: 119

In [73]:
import pandas as pandas
url= 'http://winterolympicsmedals.com/medals.csv'
data= pd.read_csv(url)
data1=data[(data['Event'] =='individual') & (data['Medal']=='Gold')] 
print("Số huy chương chương vàng theo môn cá nhân:",data1['Event'].count())

Số huy chương chương vàng theo môn cá nhân: 65